/* Sidebar */
.sidebar{
    width: 78px;
    transition: all .3s ease;
    letter-spacing: 1.25px;
    user-select: none;
}
.active{
    width: 16rem;
}

.sidebar .link-name{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .link-name{
    opacity: 1;
    pointer-events: auto;
}
.menu-list li{
    position: relative;
    list-style: none;
    width: 100%;
    height: 3.5rem;
    line-height: 50px;
}
.menu-list li a{
    display: flex;
    align-items: center;
    border-radius: 8px;
    white-space: nowrap;
}
.menu-list li .tool-tip{
    color: #333;
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50% ,-50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    height: 35px;
    width: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tool-tip{
    display: none;
}
.menu-list li:hover .tool-tip{
    opacity: 1;
    top: 50%;
    transition: all .2s ease;
}
.sidebar .menu-list .bx-search{
    transition: .2s;
    border-radius: 8px;
    height: 56px;
    width: 46px;
    text-align: center;
    line-height: 56px;
    font-size: 22px;
}
.sidebar .bx-search:hover{
    transition: .2s;
    background: #fff;
    color: #1d1b31;
}
.sidebar.active .bx-search:hover{
    transition: .2s;
    background: #1d1b31;
    color: #fff;
}

.menu-list li input{
    position: absolute;
    height: 100%;
    width: calc(100% - 4px);
    left: 0;
    top: 0;
    outline: none;
    border: none;
    background: #252b4b;
    border-radius: 8px;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.menu-list li a:hover{
    transition: .3s;
    color: rgb(17, 16, 29);
    background: #fff;
}

.sidebar .menu-list li a{
    text-align: center;
}
.menu-list li i{
    padding-left: 9px;
    height: 50px;
    min-width: 36px;
    line-height: 50px;
    text-align: center;
}
.profile{
    background: #1a1f3a;
}
.profile .porfile-details{
    display: none;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile{
    justify-content: space-evenly;
    padding-right: 0;
}
.sidebar .profile{
    justify-content: center;
    padding-right: 20px;
}
.sidebar.active .profile .porfile-details{
    transition: .2s;
    display: flex;
    pointer-events: auto;
}

/* Topics */
.topic{
    color: #202535;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 1px 2px #282828;
}
.card-topics{
    /* background: rgba(17, 16, 29); */
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(79, 102, 129, 0.92);
}
.slick-arrow::before{
    display: none;
}
.bxs-right-arrow,.bxs-left-arrow{
    color: #073050e3;
}
.bxs-right-arrow:hover,.bxs-left-arrow:hover{
    transition: .1s;
    color: #313131e1;
}
.card{
    border: 1px solid #cfcfcf;
    background-color: #073050;
    background-image: linear-gradient(213deg, #073050e3 0%, #755a65d3 55%, #313131e1 100%);
}
.card:hover{
    transition: .3s;
    letter-spacing: .2rem;
    color: #f3f3f3;
    background-color: #0a4069;
    background-image: linear-gradient(213deg, #0a4069 0%, #92717ed3 55%, #474747e1 100%);
}
